<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Kimmunity - Personuppgiftspolicy</title>
        <meta name="description" content="Håll kontakten med dina vänner och möt nya på Kimmunity, den lilla lokalproducerade sociala medieplatformen.">
        <meta name="author" content="Kim Lindgren">
        <meta name="copyright" content="Copyright © 2022 Kim Lindgren">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#AE4751">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';">
        <meta name="referrer" content="no-referrer">

        <link rel="stylesheet" href="/static/fonts/fira/regular/fonts.css" defer>
        <link rel="stylesheet" href="/static/fonts/fira/condensed/fonts.css" defer>
        <link rel="stylesheet" href="/static/stylesheets/styles.css">
        
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        
        <style>
            main {
                margin-top: 20px;
                max-width: 600px;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>Personuppgiftspolicy</h1>

            <h2>Sammanfattning</h2>
            <p>Kort sammanfattat så behandlar Kimmunity enbart uppgifter som användarna själv aktivt väljer att lägga upp på webbplatsen. Alla
            uppgifter som läggs upp på webbplatsen är synlig för alla övriga användare, med undantag för e-postadresser som aldrig är synliga.
            Du som användare kan välja att radera ditt konto och alla uppgifter som finns lagrade, detta genomförs i så fall med omedelbar verkan. 
            Kimmunity använder aldrig några uppgifter i marknadsföringssyfte, eller i kartläggningssyfte. Uppgifterna sparas bara så länge som 
            webbsidan är i bruk, eller tills dess att de raderas av användaren.</p>
            
            <h2>Inledning</h2>
            <p>Denna personuppgiftspolicy beskriver hur personuppgifter hanteras på Kimmunitys webbplats (www.kimmunity.se). Policyn anger hur
            personuppgifter samlas in, hur de används, hur webbplatsens användare har kontroll över hantering av sina personuppgifter samt
            hur de kan komma i kontakt med ansvarig vid frågor.</p>
            
            <p>Policyn tillämpas på hela webbplatsen.</p>

            <h2>Dataskyddsombud</h2>
            <p>Din kontaktperson för behandlingen av dina personuppgifter av Kimmunity är Kim Lindgren, som ni kan nå över e-post
            på addressen <a href="mailto:abuse@kimmunity.se">abuse@kimmunity.se</a>. Svarstiden är 1-2dagar.</p>

            <h2>Definition av personuppgifter</h2>
            <p>Personuppgifter utgörs av information som antingen direkt eller indirekt kan identifiera en levande fysisk person. Med direkta
            personuppgifter avses sådant som ensamt kan identifiera en viss person, medan indirekta personuppfiter kan identifiera en person
            tillsammans med andra personuppgifter.</p>

            <h2>Syfte</h2>
            <p>Kimmunity är en social medieplatform, och personuppgifter samlas därför in för att göra det möjligt för användare att
            hitta varandra.</p>

            <h3>Personuppgifter som behandlas och varför</h3>
            
            <h4>E-postadress</h4>
            <p>E-postadressen lagras för att möjliggöra: lösenordsåterställning, framtida kontakt med användaren, och för att minimera antalet
            falska konton som registreras. <b>E-postadressen visas aldrig för andra användare av webbplatsen.</b></p> 

            <h4>Övriga uppgifter</h4>
            <p>Användare av webbplatsen har möjlighet att själv författa inlägg i text, samt att ange smeknamn i fritext. Om dessa inlägg eller
            kontots smeknamn innehåller personuppgifter så kommer även  dessa att lagras. <b>Alla inlägg samt användarens smeknamn är synligt 
            för alla användare av webbplatsen.</b></p>

            <h3>Laglig grund</h3>
            <p>Samtycke till behandlingen av personuppgifter inhämtas genom att varje besökare får acceptera personuppgiftspolicyn innan de ges
            tillgång till webbplatsen.</p>

            <h3>Delning av personuppgifter</h3>
            <p>De uppgifter som användare lämnar in (med undantag för e-postadress) visas offentligt för alla övriga användare av webbplatsen.
            Kimmunity delar aldrig dina personuppgifter med någon tredje part, och använder dem inte heller i marknadsföringssyfte.</p>

            <p>Webbplatsen har ett SSL-sertifikat som säkerställer att användarnas personuppgifter överförs på ett säkert sätt genom kryptering.
            Kimmunity har dessutom vidtagit lämpliga åtgärder för att förhindra att obehöriga användare får åtkomst till informationen som lagras
            på webbplatsen.</p>

            <h3>Dina rättigheter</h3>
            <p>Du som användare av Kimmunity har rätt att få dina personuppgifter radera, korrigerade eller begränsade, samt att ta del av de
            uppgifter som finns lagrade i våra system. För att utnyttja dessa rättigheter kan du antingen själv använda verktygen för att redigera
            din profil, eller kontakta <a href="mailto:abuse@kimmunity.se">Kim Lindgren.</a></p>
            <p>En användare som har lämnat sin samtycke kan när som helest återkalla detta genom att radera sitt konto via sin profilsida.</p>

            <h3>Period som personuppgifterna sparas</h3>
            <p>Personuppgifterna får endast sparas så länge de behövs för ändamålet.</p>
        </main>
    </body>
</html>